<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New comment</title>
</head>

<body>
    <h1>Add your new comment</h1>
    <form action="/comments" method="post">
        <section>
            <label  for="username">Enter username</label>
            <input type="text" name="username" id="username">

        </section>
        <br>
        <section>
            <label for="comment">comment</label>
            <br>
            <textarea name="comment" id="comment" rows="5"></textarea>
        </section>
        <input type="submit" id="">
    </form>
</body>

</html>