<%- include('partial/head') %>

<body>
    <%- include('partial/navbar') %>
    <h1>welcome to my website <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi doloremque nisi, nemo voluptatum autem, numquam quaerat sed deserunt laboriosam labore, architecto ad corrupti tempore hic quae! Autem nihil eius delectus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, ducimus at enim obcaecati illo fuga fugit, magnam quaerat ipsum officia id temporibus sunt dolore earum aliquam, provident exercitationem odit quod!
    </p>
    <p>Rem enim temporibus asperiores, natus nisi soluta tempora eveniet voluptas illum? Impedit voluptas quibusdam fugiat aut officiis aperiam! Quo doloremque totam eum reprehenderit explicabo sed repellendus quisquam necessitatibus enim. Minus.</p>
</body>
</html>