<div>
    <nav class="navbar navbar-expand-lg bg-black">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Express js</a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link text-white" aria-current="page" href="/">Home</a>
            <a class="nav-link text-white" href="/random">random</a>
            <a class="nav-link text-white" href="/r/saif">saif</a>
            <a class="nav-link text-white" href="/r/waseem">waseem</a>
            <a class="nav-link text-white" href="/r/adnan">Adnan</a>
          </div>
        </div>
      </div>
    </nav>
  </div>